body {
    margin: 1rem;
    font-family: 'Cousine', Courier;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 8px;
}

header h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    font-size: 1.8rem;
    color: #333;
}

header h1 img {
    height: 1.8rem;
    width: auto;
    margin: -2.8pt -7pt 0 -7pt;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
    gap: 2rem;
}

header nav a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    background: #fff;
    padding: 0.3rem 0.7rem 0.2rem 0.8rem;
    border-radius: 7px;
}

header nav a:hover {
    color: #d32f2f;
    background-color: #ffe6e6;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin-left: 2rem;
}

form label {
    margin: 0 0 0 1rem;
}
form input, form textarea {
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
form button {
    padding: 0.5rem 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}
form button:hover {
    color: #d32f2f;
    background-color: #f3f3f3;
}
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-right: 30pt;
    gap: 1rem;
}

.portfolio li {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    background-color: #fff;
    list-style-type: none;
}

.portfolio li h2 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #222;
}

.portfolio li p {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 0;
}

.vacancy {
    border: 1px solid #ddd;
    padding: 0rem 1rem 1rem 1rem;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 1.5rem;
    list-style-type: none;
    margin-right: 20pt;
}